<div class="flex flex-col h-full min-h-0 overflow-hidden rounded-xl">
  <!--tab + compilation button-->  
  <div class="flex justify-between bg-gray-800">
    <!--tab file + button +-->
    <div class="flex items-center px-2 pt-2 gap-1 overflow-x-auto">
        @for (file of files; track file.id) {
        <div
            class="flex items-center gap-0.5 px-2 py-1 rounded-t-xl cursor-pointer border-b-2"
            [class.bg-gray-600]="file.id === activeFileId"
            [class.text-white]="file.id === activeFileId"
            [class.bg-gray-700]="file.id !== activeFileId"
            [class.text-gray-400]="file.id !== activeFileId"
            (click)="setActiveFile(file)"
        >
            <input #nameInput  class=" w-min max-w-20 bg-transparent text-sm font-semibold outline-none 
                    border-b border-transparent"
            [value]="file.extension ? file.name + '.' + file.extension : file.name"
            [readonly] = "!options.canRenameFiles"
            (blur)="onNameChange(file, nameInput.value)"
            (keydown.enter)="$event.preventDefault(); nameInput.blur()"
            />

            @if (options.canDeleteFiles){
            <button type="button"
            class="text-xs text-white hover:text-red-500"
            (click)="deleteFile(file); $event.stopPropagation()">
            X
            </button>
          }
        </div>
        }

        @if (options.canAddFiles){
        <button
        type="button"
        class="px-3 py-1 text-sm font-mono rounded-t-xl bg-gray-700 text-white hover:bg-gray-600 border-b-2"
        (click)="addFile()" >
        + 
        </button>
      }
    </div>

    <div class="flex items-center px-2 pt-2">
      @if (options.canCompile){
      <button
        type="button"
        class="px-3 py-1 text-sm font-mono rounded-t-xl bg-gray-700 text-white hover:bg-gray-600 border-b-2"
        (click)="onCompile()">
        Compilation
      </button>
    } 
    @if (options.canTest) {
      <button
        type="button"
        class="px-3 py-1 text-sm font-mono rounded-t-xl bg-gray-700 text-white hover:bg-gray-600 border-b-2"
        (click)="onStudentSend()">
        Tester
      </button>      
    }
    </div>
  </div>

  @if (activeFile) {
    <div class="flex-1 min-h-0 relative overflow-hidden">
      <textarea #contentInput
        class="w-full h-full bg-gray-900 text-gray-100 font-mono p-3 rounded-b-xl text-xs 
               resize-none  outline-none overflow-auto"
        [value]="activeFile.content"
        (input)="onContentChange(contentInput.value)"
        [readonly]="options.respectEditableFlag && !activeFile.editable"
        placeholder="Écris ton code ici..."
      ></textarea>

      <div class="absolute bottom-2 right-4 flex items-center gap-4 text-xs ">
        <!--Checkbox main-->
        @if (options.canEditStructure){
        <label class="flex items-center gap-1 text-xs text-gray-200">
          <input #mainCheckbox type="checkbox"
            [checked]="activeFile.is_main"
            (change)="onMainChange(activeFile, mainCheckbox.checked)"
          />
          Main
        </label>
        }

        <!--Checkbox editable-->

        <label class="flex items-center gap-1 text-xs text-gray-200">
          <input #editableCheckbox
            type="checkbox"
            [checked]="activeFile.editable"
            (change)="onEditableChange(activeFile, editableCheckbox.checked)"
            [disabled]="!options.canEditStructure"
          />
          Éditable
        </label>
      </div>
    </div>
  } 
</div>
